EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
EMAIL_RECIPIENTS=sundevildi@gmail.com
HOTEL_PROMO_OSWALD=REPLACE_OSWALD
HOTEL_PROMO_EDENSELVA=REPLACE_EDENSELVA
HOTEL_PROMO_ALPENROYAL=REPLACE_ALPENROYAL
HOTEL_PROMO_POSTA=REPLACE_POSTA
HOTEL_PROMO_CONTINENTAL=REPLACE_CONTINENTAL
HOTEL_PROMO_LUNA_MONDSCHEIN=REPLACE_LUNA_MONDSCHEIN
HOTEL_PROMO_DOLOMITES_CHALET=REPLACE_DOLOMITES_CHALET
