SMTP_HOST=mail.fursadolomiti.com
SMTP_PORT=465
SMTP_ENCRYPTION=ssl
SMTP_USERNAME=booking@fursadolomiti.com
SMTP_PASSWORD=
SMTP_FROM_EMAIL=booking@fursadolomiti.com
EMAIL_RECIPIENTS=sundevildi@gmail.com
VITE_BOOKING_EMAIL_ENDPOINT=
